In [21]:
import pandas as pd
import numpy as np

data={'First name': ['Shahboz', 'Akmal', 'javoh', 'Nodir'],
       'age': [25,26,27,34],
       'city': ['tashkent','fergana','Andijjon','SJjfne']
      }
df = pd.DataFrame(data)

df.rename(columns=lambda x: x.lower().replace(" ", "_"),inplace = True)

print('3 qator\n', df.head(3))

mean_age = df['age'].mean()
print("\n o'rtacha age:", mean_age)

print("\n 'name' 'city'\n", df[['first_name', 'city']])

df["salary"] = np.random.randint(40000, 100000, size=len(df))
print("\n dataframe \n",df)

print("\n statistikasi:\n", df.describe())

3 qator
   first_name  age      city
0    Shahboz   25  tashkent
1      Akmal   26   fergana
2      javoh   27  Andijjon

 o'rtacha age: 28.0

 'name' 'city'
   first_name      city
0    Shahboz  tashkent
1      Akmal   fergana
2      javoh  Andijjon
3      Nodir    SJjfne

 dataframe
   first_name  age      city  salary
0    Shahboz   25  tashkent   56894
1      Akmal   26   fergana   77607
2      javoh   27  Andijjon   54725
3      Nodir   34    SJjfne   57046

 statistikasi:
              age        salary
count   4.000000      4.000000
mean   28.000000  61568.000000
std     4.082483  10745.090817
min    25.000000  54725.000000
25%    25.750000  56351.750000
50%    26.500000  56970.000000
75%    28.750000  62186.250000
max    34.000000  77607.000000

In [23]:
import pandas as pd

data = {
    'month': ['jan', 'feb', 'mar', 'apr'],
    'sales': [5000, 6000, 7500, 8000],
    'expense': [3000, 3500, 4000, 4500]
}

sales_expenses = pd.DataFrame(data)

max_sales = sales_expenses['sales'].max()
max_expenses = sales_expenses['expense'].max()

min_sales = sales_expenses['sales'].min()
min_expenses = sales_expenses['expense'].min()

avg_sales = sales_expenses['sales'].mean()
avg_expenses = sales_expenses['expense'].mean()

print('max sales', max_sales)
print('max expenses', max_expenses)
print('min sales', min_sales)
print('min expenses', min_expenses)
print('avg sales', avg_sales)
print('avg expenses', avg_expenses)

max sales 8000
max expenses 4500
min sales 5000
min expenses 3000
avg sales 6625.0
avg expenses 3750.0